mba-application/Service References/MBAPermissionsService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/mba_services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/mba_services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PermissionsDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionsHashSet" nillable="true" type="tns:ArrayOfPermissionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionsDC" nillable="true" type="tns:PermissionsDC" />
  <xs:complexType name="ArrayOfPermissionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionDC" nillable="true" type="tns:PermissionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionDC" nillable="true" type="tns:ArrayOfPermissionDC" />
  <xs:complexType name="PermissionDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandParam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionDC" nillable="true" type="tns:PermissionDC" />
</xs:schema>