mba-application/Service References/MBAPermissionsService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/mba_services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/mba_services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PermissionListDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permissions" nillable="true" type="tns:ArrayOfPermissionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionListDC" nillable="true" type="tns:PermissionListDC" />
  <xs:complexType name="ArrayOfPermissionDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionDC" type="tns:PermissionDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionDC" nillable="true" type="tns:ArrayOfPermissionDC" />
  <xs:complexType name="PermissionDC">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tooltip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionDC" nillable="true" type="tns:PermissionDC" />
</xs:schema>