mba-application/Service References/MBAImportService/mba_services.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/mba_services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/mba_services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GoodColumnDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoodColumnId" type="xs:int" />
      <xs:element minOccurs="0" name="GoodColumnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodColumnDC" nillable="true" type="tns:GoodColumnDC" />
  <xs:complexType name="GoodColumnAddRelationParamDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodColumn" nillable="true" type="tns:GoodColumnDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodColumnAddRelationParamDC" nillable="true" type="tns:GoodColumnAddRelationParamDC" />
</xs:schema>