mba-application/Service References/MBAImportService/mba_model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/mba_model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/mba_model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGoodColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodColumn" nillable="true" type="tns:GoodColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoodColumn" nillable="true" type="tns:ArrayOfGoodColumn" />
  <xs:complexType name="GoodColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnHeaders" nillable="true" type="tns:ArrayOfColumnHeader" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodColumn" nillable="true" type="tns:GoodColumn" />
  <xs:complexType name="ArrayOfColumnHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnHeader" nillable="true" type="tns:ColumnHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnHeader" nillable="true" type="tns:ArrayOfColumnHeader" />
  <xs:complexType name="ColumnHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoodColumn" nillable="true" type="tns:GoodColumn" />
      <xs:element minOccurs="0" name="GoodColumnId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnHeader" nillable="true" type="tns:ColumnHeader" />
</xs:schema>