mba-application/Service References/MBAImportService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/mba_model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GoodColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columnHeader" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodColumnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="GoodColumnResult" nillable="true" type="q1:GoodColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodColumns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="GoodColumnsResult" nillable="true" type="q2:ArrayOfGoodColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="ClientsResult" nillable="true" type="q3:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="ImportTypesResult" nillable="true" type="q4:ArrayOfImportType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddColumnHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="columnHeaders" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddColumnHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="AddColumnHeadersResult" nillable="true" type="q6:ArrayOfColumnHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="columnHeaders" nillable="true" type="q7:ArrayOfColumnHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="GetRelatedClientsResult" nillable="true" type="q8:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationColumnHeadersClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="columnHeaders" nillable="true" type="q9:ArrayOfColumnHeader" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="client" nillable="true" type="q10:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationColumnHeadersClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>