mba-application/Service References/MBAImportService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IImportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/mba_model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImportService_GoodColumn_InputMessage">
    <wsdl:part name="parameters" element="tns:GoodColumn" />
  </wsdl:message>
  <wsdl:message name="IImportService_GoodColumn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoodColumnResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_GoodColumns_InputMessage">
    <wsdl:part name="parameters" element="tns:GoodColumns" />
  </wsdl:message>
  <wsdl:message name="IImportService_GoodColumns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GoodColumnsResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_Clients_InputMessage">
    <wsdl:part name="parameters" element="tns:Clients" />
  </wsdl:message>
  <wsdl:message name="IImportService_Clients_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_ImportTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportTypes" />
  </wsdl:message>
  <wsdl:message name="IImportService_ImportTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_AddColumnHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:AddColumnHeaders" />
  </wsdl:message>
  <wsdl:message name="IImportService_AddColumnHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddColumnHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_AddRelationColumnHeadersClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationColumnHeadersClient" />
  </wsdl:message>
  <wsdl:message name="IImportService_AddRelationColumnHeadersClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationColumnHeadersClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IImportService">
    <wsdl:operation name="GoodColumn">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/GoodColumn" message="tns:IImportService_GoodColumn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/GoodColumnResponse" message="tns:IImportService_GoodColumn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GoodColumns">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/GoodColumns" message="tns:IImportService_GoodColumns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/GoodColumnsResponse" message="tns:IImportService_GoodColumns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Clients">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/Clients" message="tns:IImportService_Clients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/ClientsResponse" message="tns:IImportService_Clients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/ImportTypes" message="tns:IImportService_ImportTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/ImportTypesResponse" message="tns:IImportService_ImportTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddColumnHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/AddColumnHeaders" message="tns:IImportService_AddColumnHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/AddColumnHeadersResponse" message="tns:IImportService_AddColumnHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRelationColumnHeadersClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/AddRelationColumnHeadersClient" message="tns:IImportService_AddRelationColumnHeadersClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/AddRelationColumnHeadersClientResponse" message="tns:IImportService_AddRelationColumnHeadersClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IImportService" type="tns:IImportService">
    <wsp:PolicyReference URI="#NetTcpBinding_IImportService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GoodColumn">
      <soap12:operation soapAction="http://tempuri.org/IImportService/GoodColumn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoodColumns">
      <soap12:operation soapAction="http://tempuri.org/IImportService/GoodColumns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clients">
      <soap12:operation soapAction="http://tempuri.org/IImportService/Clients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportTypes">
      <soap12:operation soapAction="http://tempuri.org/IImportService/ImportTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColumnHeaders">
      <soap12:operation soapAction="http://tempuri.org/IImportService/AddColumnHeaders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelationColumnHeadersClient">
      <soap12:operation soapAction="http://tempuri.org/IImportService/AddRelationColumnHeadersClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportService">
    <wsdl:port name="NetTcpBinding_IImportService" binding="tns:NetTcpBinding_IImportService">
      <soap12:address location="net.tcp://localhost:8735/ImportService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8735/ImportService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>