mba-application/Service References/MBAImportService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/mba_model" />
  <xs:element name="GoodColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columnHeader" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodColumnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="GoodColumnResult" nillable="true" type="q1:GoodColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodColumns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="GoodColumnsResult" nillable="true" type="q2:ArrayOfGoodColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="ClientsResult" nillable="true" type="q3:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="ImportTypesResult" nillable="true" type="q4:ArrayOfImportType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyzeColumnHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="columnHeaders" nillable="true" type="q5:ArrayOfColumnHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyzeColumnHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/mba_model" minOccurs="0" name="AnalyzeColumnHeadersResult" nillable="true" type="q6:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>